.get-info-wrapper {
  min-height: 100%;
  padding-bottom: 1rem;
  border-radius: 5px;
}

.get-info-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 2rem;
  gap: 2rem;
}
