.app-wrapper {
  margin: 10vh auto;
  /* min-height: 50vh; */
  max-height: 80vh;
  width: min(750px, 80vw);
  min-width: 300px;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #626262;
}
