.get-color {
  display: flex;
  align-items: center;
  gap: calc(1.5vw + 5px);
}

.get-color label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
  --color-input: #29f5fb;
}
.get-color label:after {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0 0 5px;
  background-color: var(--color-input);
}
.get-color input {
  display: none;
}
