.get-color {
  display: flex;
  align-items: center;
  gap: calc(1.5vw + 5px);
}

.get-color label {
  text-transform: capitalize;
}
.get-color input {
  border: none;
  outline: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.get-color input::-moz-color-swatch {
  border: none;
}
