.get-info-title {
  background: var(--main-color);
  padding: 2rem 0 0.5rem 3rem;
  border-radius: 5px 5px 0 0;
  text-transform: capitalize;
}
.font {
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
  font-size: 1.3rem;
}
